<div class="container">
    <h1>Nossos Clientes</h1>
    <div class="customers">
        <div class="customer">
            <img src="../../../assets/c1.png" alt="Sambaíba">
        </div>
        <div class="customer">
            <img src="../../../assets/c2.png" alt="BRT Sorocaba">
        </div>
        <div class="customer">
            <img src="../../../assets/c3.png" alt="Mobi-PE">
        </div>
        <div class="customer">
            <img src="../../../assets/c4.png" alt="Mobi-Brasil">
        </div>
        <div class="customer">
            <img src="../../../assets/c5.png" alt="Nova Mobi Pernambuco">
        </div>
    </div>
</div>
