nav
    width: 100vw
    height: 80px
    position: fixed
    left: 0
    background-color: #093874
    display: flex
    justify-content: center

.navbar-content
    width: 80%
    display: flex
    align-items: center
    justify-content: space-between
    padding: 15px

.navbar-links
     ul
        display: flex
        list-style: none
        gap: 15px
        li
            cursor: pointer
            a
                color: white
                font-size: 18px
                transition: all ease-in-out 0.2s
                &:hover
                    color: #dd801d

.page-logo
    img
        width: 100px
        cursor: pointer