<nav class="navbar">
  <div class="navbar-content">
    <div class="page-logo">
      <a routerLink="/">
        <img src="../../../assets/logo-image.png" alt="UNIQ" />
      </a>
    </div>
    <div class="menu" (click)="handleMenu()">
      <fa-icon [icon]="mobile ? menuClose : menuOpen" />
    </div>

    <div class="navbar-links" [class.mobile]="mobile">
      <ul>
        <a routerLink="/quem-somos"><li>Quem somos</li></a>
        <a routerLink="/solucoes"><li>Soluções</li></a>
        <a routerLink="/perguntas-frequentes"><li>Perguntas Frequentes</li></a>
        <a routerLink="/nossos-clientes"><li>Nossos Clientes</li></a>
      </ul>
    </div>
  </div>
</nav>
