nav
    width: 100vw
    height: 80px
    position: fixed
    z-index: 3
    left: 0
    backdrop-filter: blur(10px)
    display: flex
    justify-content: center

.navbar-content
    width: 80%
    display: flex
    align-items: center
    justify-content: space-between
    padding: 15px

.navbar-links
    @media ( max-width: 1100px  )
        display: none
        &.isOpen
            background-color: #188ddd
            display: flex
            position: fixed
            right: 0px
            top: 80px
            width: 100vw
            ul
                display: flex
                flex-direction: column
                list-style: none
                gap: 0px
                width: 100%
                a
                    padding: 10px
                    width: 100%
                    text-decoration: none
                    border: 1px solid rgba(0,0,0,0.4)
                    cursor: pointer
                    text-align: center
                    &:hover
                        li
                            color: #dd801d
    ul
        display: flex
        list-style: none
        gap: 35px
        a
            cursor: pointer
            text-decoration: none
            color: white
            font-size: 22px
            transition: all ease-in-out 0.2s
            &:hover
                li
                    color: #dd801d
                    transition: all ease-in-out 0.2s

.page-logo
    img
        width: 100px
        cursor: pointer

.menu
    color: white
    font-size: 25px
    @media ( min-width: 1100px  )
        display: none
