<div class="container">
  <h1>Quem Somos</h1>
  <button>Agende uma Demonstração!</button>
  <p>
    Fruto da parceria desenvolvida com a Cittamobi, nossa missão é encontrar
    soluções para os principais desafios de gestão do transporte urbano da sua
    empresa. <br />Oferecemos o melhor da Tecnologia da Informação para
    administrar as operações que envolvem o transporte de passageiros em 4
    diretrizes fundamentais:
  </p>
  <div class="attributes">
    <div class="attribute">
      <img src="../../../assets/attribute1.png" alt="Qualidade" />
      <h4>Qualidade</h4>
      <span>na gestão operacional da empresa</span>
    </div>

    <div class="attribute">
      <img src="../../../assets/attribute2.png" alt="Agilidade" />
      <h4>Agilidade</h4>
      <span>em todas as etapas do processo </span>
    </div>

    <div class="attribute">
      <img src="../../../assets/attribute3.png" alt="Confiabilidade" />
      <h4>Confiabilidade</h4>
      <span>na segurança dos dados e informações</span>
    </div>

    <div class="attribute">
      <img src="../../../assets/attribute4.png" alt="Custo baixo" />
      <h4>Custo baixo</h4>
      <span>para garantir a sustentabilidade do negócio</span>
    </div>
  </div>
  <div class="values">
    <div class="title">
      <hr />
      <h2>Nossos valores</h2>
      <hr />
    </div>
    <img src="../../../assets/values.png" alt="Valores" />
    <p>
      A origem da UniQ veio de uma parceria, portanto, é natural que faça parte
      dos nossos valores fomentar novas parcerias no segmento de tecnologia e
      mobilidade urbana, promovendo maior simplicidade e inovação nos processos
      de gestão. <br />Nossa missão parte da vontade de fazer diferente sem
      abrir mão da transparência quanto aos nossos serviços e fazendo que você,
      nosso cliente, não se arrependa de investir a sua confiança no nosso
      trabalho.<br />
      Nós, da UniQ, nos empenhamos diariamente para que o nosso produto possa
      trazer maior flexibilidade para quem precisa entregar um serviço de
      maneira prática e bem feita, centralizando em uma só plataforma diversas
      fontes de informação. <br />O nosso dever não é apenas com o produto, mas
      com as pessoas por trás dessas ferramentas, tratando com ética e
      confidencialidade as informações e metas de nossos clientes.<br />
      A UniQ se compromete em exercitar sempre a sua missão número um: ajudar o
      nosso público, trabalhando com disciplina para alcançar os nossos
      objetivos compartilhados. Afinal, as suas metas são nossas também.
    </p>
  </div>
</div>
