<main>
  <div class="container">
    <app-navbar/>
    <div class="header">
      <img src="../../assets/header-image.png"/>
    </div>
    <div class="content-container">
      <app-quem-somos/>
      <app-clientes/>
    </div>
    <footer>
      <div class="footer-content">
        <div class="links">
          <h3>Siga nossas redes sociais:</h3>
          <div class="icons">
            <a href="https://www.facebook.com/UniQbr/" target="_blank">
              <fa-icon [icon]="faFacebook"/>
            </a>
            <a href="https://twitter.com/UniQ_hub" target="_blank">
              <fa-icon [icon]="faTwitter"/>
            </a>
            <a href="https://www.instagram.com/uniqhub.br/" target="_blank">
              <fa-icon [icon]="faInstagram"/>
            </a>
            <a href="https://www.linkedin.com/company/uniqhub/" target="_blank">
              <fa-icon [icon]="faLinkedin"/>
            </a>
          </div>
        </div>
        <div class="infos">
          <span>Parque Tecnológico de Sorocaba</span>
          <span>Tel +55 15 3316-2323</span>
          <span>Avenida Itavuvu 11777, Sorocaba</span>
          <span>SP • Brasil • CEP: 18078-005</span>
          <span>UNIQ HUB LTDA</span>
        </div>
        <div class="work-with-us">
          <img src="../../assets/work-with-us.png" alt="Trabalhe Conosco"/>
        </div>
      </div>
    </footer>
  </div>
</main>
