.container
    min-height: 100vh
    width: 80%
    background-color: #274f8f
    display: flex
    flex-direction: column
    align-items: center
    text-shadow: 2px 2px 2px rgba(0,0,0,0.4)


.header
    display: flex
    justify-content: center
    margin-top: 120px
    img
        width: 80%
        box-shadow: 1px 5px 15px rgba(0,0,0,0.4)

.content-container
    display: flex
    flex-direction: column
    justify-content: center
    width: 100%

footer
    width: 100vw
    left: 0
    bottom: 0
    display: flex
    justify-content: center
    background-color: #093874

.footer-content
    padding: 10px 0px
    width: 80%
    display: flex
    justify-content: space-between
    align-items: center
    color: #eee

.links
    display: flex
    flex-direction: column
    justify-content: space-evenly
    height: 100%
    h3
        color: #eee
        font-weight: 400

.icons
    display: flex
    width: 100%
    justify-content: space-around
    font-size: 30px
    a
        color: #188ddd
        text-decoration: none

.infos
    display: flex
    flex-direction: column

.work-with-us
    img
        height: 100px
@media (max-width: 1000px) 
  .container 
    width: 100%
  

