<div class="container">
  <h1>Soluções</h1>
  <div class="introduction">
    <img src="../../../assets/introduction-image.png" alt="Introdução" />
    <p>
      <span>
        Promovemos a unificação de plataformas de gestão para a mobilidade
        urbana e facilitamos a administração de contratos de transportes.
        <br /><br />
        Através da nossa plataforma digital web é possível unificar e integrar
        as diversas fontes de informação que circulam na operação da sua
        empresa.
      </span>
    </p>
  </div>
  <p>
    Fruto da parceria desenvolvida com a Cittamobi, nossa missão é encontrar
    soluções para os principais desafios de gestão do transporte urbano da sua
    empresa. <br />Oferecemos o melhor da Tecnologia da Informação para
    administrar as operações que envolvem o transporte de passageiros em 4
    diretrizes fundamentais:
  </p>
  <div class="attributes">
    <div class="attribute">
      <img src="../../../assets/attribute_type2_1.png" alt="Qualidade" />
      <span>Padronização e gerenciamento de contratos operacionais</span>
    </div>

    <div class="attribute">
      <img src="../../../assets/attribute_type2_2.png" alt="Agilidade" />
      <span>Gestão Administrativa, Financeira e Contábil</span>
    </div>

    <div class="attribute">
      <img src="../../../assets/attribute_type2_3.png" alt="Confiabilidade" />
      <span>Gerenciamento de Recursos Humanos e Patrimoniais</span>
    </div>

    <div class="attribute">
      <img src="../../../assets/attribute_type2_4.png" alt="Custo baixo" />
      <span>Controle de Manutenção Preventiva e Corretiva</span>
    </div>

    <div class="attribute">
      <img src="../../../assets/attribute_type2_5.png" alt="Custo baixo" />
      <span>Coordenação de dados e TI – Tecnologia da Informação</span>
    </div>

    <div class="attribute">
      <img src="../../../assets/attribute_type2_6.png" alt="Custo baixo" />
      <span>Administração de infraestrutura de terminais de transporte</span>
    </div>
  </div>
</div>
