*
    padding: 0
    margin: 0
    box-sizing: border-box
    font-family: Arial, Helvetica, sans-serif

html
    scroll-behavior: smooth

body
    overflow: auto
    background-color: #274f8f
    overflow-x: hidden

main
    width: 100%
    display: flex
    justify-content: center
    

::-webkit-scrollbar
    width: 6px

::-webkit-scrollbar-track
    background-color: #eee

::-webkit-scrollbar-thumb
    background-color: #188ddd
    border-radius: 5px

::-webkit-scrollbar-thumb:hover
    background-color: #dd801d
